/* Vendored typefaces (SIL Open Font License 1.1; see OFL-*.txt). Latin and
   Latin Extended subsets of the variable fonts, weights 400-600 only, so
   every host and every visual baseline renders the same glyphs. Other
   scripts (CJK, Cyrillic, Greek) fall through to the stack in
   --mtc-font-sans / --mtc-font-mono. The library build prepends these rules
   to dist/styles.css and ships the files under dist/fonts/; Storybook and
   the demo app import this file directly. Provenance: README.md. */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("./InterVariable.woff2") format("woff2");
  unicode-range: U+0000-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1EFF, U+2000-20C0, U+2100-27BF, U+2C60-2C7F, U+A720-A7FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("./JetBrainsMonoVariable.woff2") format("woff2");
  unicode-range: U+0000-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1EFF, U+2000-20C0, U+2100-27BF, U+2C60-2C7F, U+A720-A7FF, U+FEFF, U+FFFD;
}
